
<h1>
  {{title |uppercase}}
</h1>
<form (submit)="onSubmit(newUser)">
  <label> Github Username:</label>
  <input type="text" name="username" [(ngModel)]="newUser.username" [ngModelOptions]="{standalone: true}"/>
  <input type="submit" value="submit" />
</form>
<h3> Your score is {{score}}</h3>
      <h5 class='red' *ngIf="score < 20">Needs Work !</h5>
      <h5 class='orange' *ngIf="score >= 20 && score < 50">A decent start!</h5>
      <h5 *ngIf="score >= 50 && score < 100">Doing good!</h5>
      <h5 class='green' *ngIf="score >= 100 && score < 200">Great Job!</h5>
      <h5 class='blue' *ngIf="score >= 200">Github Elite!</h5> 
<div>
  Name: {{name}}
</div>
<div>
  Location: {{location}}
</div>
<div>
  Pict-Cha: 
</div>
<div>
  <img [src]="imgSrc" height="200" width="200">
</div>
